{
  "openapi": "3.0.0",
  "info": {
    "title": "Trello REST API",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.trello.com/1"
    }
  ],
  "security": [
    {
      "APIKey": [],
      "APIToken": []
    }
  ],
  "paths": {
    "/actions/{id}": {
      "get": {
        "tags": [],
        "summary": "Get an Action",
        "description": "Get an Action",
        "operationId": "get-actions-id",
        "parameters": [
          {
            "name": "display",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "entities",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of action [fields](/cloud/trello/guides/rest-api/object-definitions/#action-object)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "member",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "avatarHash,fullName,initials,username"
            },
            "x-ballerina-name": "memberFields"
          },
          {
            "name": "memberCreator",
            "in": "query",
            "description": "Whether to include the member object for the creator of the action",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "memberCreator_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "avatarHash,fullName,initials,username"
            },
            "x-ballerina-name": "memberCreatorFields"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [],
        "summary": "Update an Action",
        "description": "Update a specific Action. Only comment actions can be updated. Used to edit the content of a comment.",
        "operationId": "put-actions-id",
        "parameters": [
          {
            "name": "text",
            "in": "query",
            "description": "The new text for the comment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [],
        "summary": "Delete an Action",
        "description": "Delete a specific action. Only comment actions can be deleted.",
        "operationId": "delete-actions-id",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The ID of the Action",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        }
      ]
    },
    "/actions/{id}/{field}": {
      "get": {
        "tags": [],
        "summary": "Get a specific field on an Action",
        "description": "Get a specific property of an action",
        "operationId": "get-actions-id-field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Action",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "field",
            "in": "path",
            "description": "An action field",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ActionFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Action"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/actions/{id}/board": {
      "get": {
        "tags": [],
        "summary": "Get the Board for an Action",
        "description": "Get the Board for an Action",
        "operationId": "get-actions-id-board",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of board fields",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/BoardFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/actions/{id}/card": {
      "get": {
        "tags": [],
        "summary": "Get the Card for an Action",
        "description": "Get the card for an action",
        "operationId": "get-actions-id-card",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of card fields",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/CardFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/actions/{id}/list": {
      "get": {
        "tags": [],
        "summary": "Get the List for an Action",
        "description": "Get the List for an Action",
        "operationId": "get-actions-id-list",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of list fields",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/ListFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrelloList"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/actions/{id}/member": {
      "get": {
        "tags": [],
        "summary": "Get the Member of an Action",
        "description": "Gets the member of an action (not the creator)",
        "operationId": "get-actions-id-member",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Action",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member fields",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/MemberFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/actions/{id}/memberCreator": {
      "get": {
        "tags": [],
        "summary": "Get the Member Creator of an Action",
        "description": "Get the Member who created the Action",
        "operationId": "get-actions-id-membercreator",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Action",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member fields",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/MemberFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Member"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/actions/{id}/organization": {
      "get": {
        "tags": [],
        "summary": "Get the Organization of an Action",
        "description": "Get the Organization of an Action",
        "operationId": "get-actions-id-organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of organization fields",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/OrganizationFields"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Organization"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/actions/{id}/text": {
      "put": {
        "tags": [],
        "summary": "Update a Comment Action",
        "description": "Update a comment action",
        "operationId": "put-actions-id-text",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the action to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "The new text for the comment",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/actions/{idAction}/reactions": {
      "get": {
        "tags": [],
        "summary": "Get Action's Reactions",
        "description": "List reactions for an action",
        "operationId": "get-actions-idaction-reactions",
        "parameters": [
          {
            "name": "member",
            "in": "query",
            "description": "Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "emoji",
            "in": "query",
            "description": "Whether to load the emoji as a nested resource",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [],
        "summary": "Create Reaction for Action",
        "description": "Adds a new reaction to an action",
        "operationId": "post-actions-idaction-reactions",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdActionReactionsBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "idAction",
          "in": "path",
          "description": "The ID of the action",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        }
      ]
    },
    "/actions/{idAction}/reactions/{id}": {
      "get": {
        "tags": [],
        "summary": "Get Action's Reaction",
        "description": "Get information for a reaction",
        "operationId": "get-actions-idaction-reactions-id",
        "parameters": [
          {
            "name": "member",
            "in": "query",
            "description": "Whether to load the member as a nested resource. See [Members Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#members-nested-resource)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "emoji",
            "in": "query",
            "description": "Whether to load the emoji as a nested resource",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [],
        "summary": "Delete Action's Reaction",
        "description": "Deletes a reaction",
        "operationId": "delete-actions-idaction-reactions-id",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "idAction",
          "in": "path",
          "description": "The ID of the Action",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        },
        {
          "name": "id",
          "in": "path",
          "description": "The ID of the reaction",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        }
      ]
    },
    "/actions/{idAction}/reactionsSummary": {
      "get": {
        "tags": [],
        "summary": "List Action's summary of Reactions",
        "description": "List a summary of all reactions for an action",
        "operationId": "get-actions-idaction-reactionsummary",
        "parameters": [
          {
            "name": "idAction",
            "in": "path",
            "description": "The ID of the action",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/applications/{key}/compliance": {
      "get": {
        "tags": [],
        "summary": "Get Application's compliance data",
        "description": "",
        "operationId": "applications-key-compliance",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "key",
          "in": "path",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/batch": {
      "get": {
        "tags": [],
        "summary": "Batch Requests",
        "description": "Make up to 10 GET requests in a single, batched API call.",
        "operationId": "get-batch",
        "parameters": [
          {
            "name": "urls",
            "in": "query",
            "description": "A list of API routes. Maximum of 10 routes allowed. The routes should begin with a forward slash and should not include the API version number - e.g. \"urls=/members/trello,/cards/[cardId]\"",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/memberships": {
      "get": {
        "tags": [],
        "summary": "Get Memberships of a Board",
        "description": "Get information about the memberships users have to the board.",
        "operationId": "get-boards-id-memberships",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "One of `admins`, `all`, `none`, `normal`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "admins",
                "all",
                "none",
                "normal"
              ],
              "default": "all"
            }
          },
          {
            "name": "activity",
            "in": "query",
            "description": "Works for premium organizations only",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "orgMemberType",
            "in": "query",
            "description": "Shows the type of member to the org the user is. For instance, an org admin will have a `orgMemberType` of `admin`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "member",
            "in": "query",
            "description": "Determines whether to include a [nested member object](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "Fields to show if `member=true`. Valid values: [nested member resource fields](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/MemberFields"
            },
            "x-ballerina-name": "memberFields"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Memberships"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}": {
      "get": {
        "tags": [],
        "summary": "Get a Board",
        "description": "Request a single board.",
        "operationId": "get-boards-id",
        "parameters": [
          {
            "name": "actions",
            "in": "query",
            "description": "This is a nested resource. Read more about actions as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all"
            }
          },
          {
            "name": "boardStars",
            "in": "query",
            "description": "Valid values are one of: `mine` or `none`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "cards",
            "in": "query",
            "description": "This is a nested resource. Read more about cards as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "card_pluginData",
            "in": "query",
            "description": "Use with the `cards` param to include card pluginData with the response",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-ballerina-name": "cardPluginData"
          },
          {
            "name": "checklists",
            "in": "query",
            "description": "This is a nested resource. Read more about checklists as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "customFields",
            "in": "query",
            "description": "This is a nested resource. Read more about custom fields as nested resources [here](#custom-fields-nested-resource)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields of the board to be included in the response. Valid values: all or a comma-separated list of: closed, dateLastActivity, dateLastView, desc, descData, idMemberCreator, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed, url",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "name,desc,descData,closed,idOrganization,pinned,url,shortUrl,prefs,labelNames"
            }
          },
          {
            "name": "labels",
            "in": "query",
            "description": "This is a nested resource. Read more about labels as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "lists",
            "in": "query",
            "description": "This is a nested resource. Read more about lists as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "open"
            }
          },
          {
            "name": "members",
            "in": "query",
            "description": "This is a nested resource. Read more about members as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "memberships",
            "in": "query",
            "description": "This is a nested resource. Read more about memberships as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "none"
            }
          },
          {
            "name": "pluginData",
            "in": "query",
            "description": "Determines whether the pluginData for this board should be returned. Valid values: true or false",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "organization",
            "in": "query",
            "description": "This is a nested resource. Read more about organizations as nested resources [here](/cloud/trello/guides/rest-api/nested-resources/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "organization_pluginData",
            "in": "query",
            "description": "Use with the `organization` param to include organization pluginData with the response",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            },
            "x-ballerina-name": "organizationPluginData"
          },
          {
            "name": "myPrefs",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "tags",
            "in": "query",
            "description": "Also known as collections, tags, refer to the collection(s) that a Board belongs to",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Board"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "default": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [],
        "summary": "Update a Board",
        "description": "Update an existing board by id",
        "operationId": "put-boards-id",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The new name for the board. 1 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "A new description for the board, 0 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "closed",
            "in": "query",
            "description": "Whether the board is closed",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "subscribed",
            "in": "query",
            "description": "Whether the acting user is subscribed to the board",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "idOrganization",
            "in": "query",
            "description": "The id of the Workspace the board should be moved to",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "prefs/permissionLevel",
            "in": "query",
            "description": "One of: org, private, public",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "prefsPermissionLevel"
          },
          {
            "name": "prefs/selfJoin",
            "in": "query",
            "description": "Whether Workspace members can join the board themselves",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "x-ballerina-name": "prefsSelfJoin"
          },
          {
            "name": "prefs/cardCovers",
            "in": "query",
            "description": "Whether card covers should be displayed on this board",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "x-ballerina-name": "prefsCardCovers"
          },
          {
            "name": "prefs/hideVotes",
            "in": "query",
            "description": "Determines whether the Voting Power-Up should hide who voted on cards or not",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "x-ballerina-name": "prefsHideVotes"
          },
          {
            "name": "prefs/invitations",
            "in": "query",
            "description": "Who can invite people to this board. One of: admins, members",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "prefsInvitations"
          },
          {
            "name": "prefs/voting",
            "in": "query",
            "description": "Who can vote on this board. One of disabled, members, observers, org, public",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "prefsVoting"
          },
          {
            "name": "prefs/comments",
            "in": "query",
            "description": "Who can comment on cards on this board. One of: disabled, members, observers, org, public",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "prefsComments"
          },
          {
            "name": "prefs/background",
            "in": "query",
            "description": "The id of a custom background or one of: blue, orange, green, red, purple, pink, lime, sky, grey",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "prefsBackground"
          },
          {
            "name": "prefs/cardAging",
            "in": "query",
            "description": "One of: pirate, regular",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "prefsCardAging"
          },
          {
            "name": "prefs/calendarFeedEnabled",
            "in": "query",
            "description": "Determines whether the calendar feed is enabled or not",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            },
            "x-ballerina-name": "prefsCalendarFeedEnabled"
          },
          {
            "name": "labelNames/green",
            "in": "query",
            "description": "Name for the green label. 1 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "labelNamesGreen"
          },
          {
            "name": "labelNames/yellow",
            "in": "query",
            "description": "Name for the yellow label. 1 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "labelNamesYellow"
          },
          {
            "name": "labelNames/orange",
            "in": "query",
            "description": "Name for the orange label. 1 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "labelNamesOrange"
          },
          {
            "name": "labelNames/red",
            "in": "query",
            "description": "Name for the red label. 1 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "labelNamesRed"
          },
          {
            "name": "labelNames/purple",
            "in": "query",
            "description": "Name for the purple label. 1 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "labelNamesPurple"
          },
          {
            "name": "labelNames/blue",
            "in": "query",
            "description": "Name for the blue label. 1 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "labelNamesBlue"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [],
        "summary": "Delete a Board",
        "description": "Delete a board.",
        "operationId": "delete-boards-id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to delete",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        }
      ]
    },
    "/boards/{id}/{field}": {
      "get": {
        "tags": [],
        "summary": "Get a field on a Board",
        "description": "Get a single, specific field on a board",
        "operationId": "get-boards-id-field",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "field",
            "in": "path",
            "description": "The field you'd like to receive. Valid values: closed, dateLastActivity, dateLastView, desc, descData, idMemberCreator, idOrganization, invitations, invited, labelNames, memberships, name, pinned, powerUps, prefs, shortLink, shortUrl, starred, subscribed, url",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{boardId}/actions": {
      "get": {
        "tags": [],
        "summary": "Get Actions of a Board",
        "description": "Get all of the actions of a Board. See [Nested Resources](/cloud/trello/guides/rest-api/nested-resources/) for more information.",
        "operationId": "get-boards-id-actions",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned for the Actions. [See Action fields here](/cloud/trello/guides/rest-api/object-definitions/#action-object)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Action"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "A comma-separated list of [action types](/cloud/trello/guides/rest-api/action-types/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "format",
            "in": "query",
            "description": "The format of the returned Actions. Either list or count",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "list"
            }
          },
          {
            "name": "idModels",
            "in": "query",
            "description": "A comma-separated list of idModels. Only actions related to these models will be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The limit of the number of responses, between 0 and 1000",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "default": 50
            }
          },
          {
            "name": "member",
            "in": "query",
            "description": "Whether to return the member object for each action",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username"
            },
            "x-ballerina-name": "memberFields"
          },
          {
            "name": "memberCreator",
            "in": "query",
            "description": "Whether to return the memberCreator object for each action",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "memberCreator_fields",
            "in": "query",
            "description": "The fields of the [member](/cloud/trello/guides/rest-api/object-definitions/#member-object) creator to return",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "activityBlocked,avatarHash,avatarUrl,fullName,idMemberReferrer,initials,nonPublic,nonPublicAvailable,username"
            },
            "x-ballerina-name": "memberCreatorFields"
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page of results for actions",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "reactions",
            "in": "query",
            "description": "Whether to show reactions on comments or not",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "before",
            "in": "query",
            "description": "A date string in the form of YYYY-MM-DDThh:mm:ssZ or a mongo object ID. Only objects created before this date will be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since",
            "in": "query",
            "description": "A date string in the form of YYYY-MM-DDThh:mm:ssZ or a mongo object ID. Only objects created since this date will be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{boardId}/boardStars": {
      "get": {
        "tags": [],
        "summary": "Get boardStars on a Board",
        "description": "",
        "operationId": "get-boards-id-boardstars",
        "parameters": [
          {
            "name": "boardId",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Valid values: mine, none",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "mine"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/InlineResponseItems200"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/checklists": {
      "get": {
        "tags": [],
        "summary": "Get Checklists on a Board",
        "description": "Get all of the checklists on a Board.",
        "operationId": "boards-id-checklists",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/cards": {
      "get": {
        "tags": [],
        "summary": "Get Cards on a Board",
        "description": "Get all of the open Cards on a Board. See [Nested Resources](/cloud/trello/guides/rest-api/nested-resources/) for more information.",
        "operationId": "get-boards-id-cards",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/cards/{filter}": {
      "get": {
        "tags": [],
        "summary": "Get filtered Cards on a Board",
        "description": "Get the Cards on a Board that match a given filter. See [Nested Resources](/cloud/trello/guides/rest-api/nested-resources/) for more information.",
        "operationId": "get-boards-id-cards-filter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the Board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "path",
            "description": "One of: `all`, `closed`, `complete`, `incomplete`, `none`, `open`, `visible`",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "closed",
                "complete",
                "incomplete",
                "none",
                "open",
                "visible"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/customFields": {
      "get": {
        "tags": [],
        "summary": "Get Custom Fields for Board",
        "description": "Get the Custom Field Definitions that exist on a board.",
        "operationId": "get-boards-id-customfields",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomField"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/labels": {
      "get": {
        "tags": [],
        "summary": "Get Labels on a Board",
        "description": "Get all of the Labels on a Board.",
        "operationId": "get-boards-id-labels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the Board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "The fields to be returned for the Labels",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Label"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The number of Labels to be returned",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maximum": 1000,
              "minimum": 0,
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [],
        "summary": "Create a Label on a Board",
        "description": "Create a new Label on a Board.",
        "operationId": "post-boards-id-labels",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "name",
            "in": "query",
            "description": "The name of the label to be created. 1 to 16384 characters long",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "color",
            "in": "query",
            "description": "Sets the color of the new label. Valid values are a label color or `null`",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/lists": {
      "get": {
        "tags": [],
        "summary": "Get Lists on a Board",
        "description": "Get the Lists on a Board",
        "operationId": "get-boards-id-lists",
        "parameters": [
          {
            "name": "cards",
            "in": "query",
            "description": "Filter to apply to Cards",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/ViewFilter"
            }
          },
          {
            "name": "card_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of card [fields](/cloud/trello/guides/rest-api/object-definitions/#card-object)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "x-ballerina-name": "cardFields"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter to apply to Lists",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/ViewFilter"
            }
          },
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of list [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TrelloList"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [],
        "summary": "Create a List on a Board",
        "description": "Create a new List on a Board.",
        "operationId": "post-boards-id-lists",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name of the list to be created. 1 to 16384 characters long",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pos",
            "in": "query",
            "description": "Determines the position of the list. Valid values: `top`, `bottom`, or a positive number",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "top"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrelloList"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The ID of the board",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        }
      ]
    },
    "/boards/{id}/lists/{filter}": {
      "get": {
        "tags": [],
        "summary": "Get filtered Lists on a Board",
        "description": "",
        "operationId": "get-boards-id-lists-filter",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "filter",
            "in": "path",
            "description": "One of `all`, `closed`, `none`, `open`",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/ViewFilter"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/members": {
      "get": {
        "tags": [],
        "summary": "Get the Members of a Board",
        "description": "Get the Members for a board",
        "operationId": "get-boards-id-members",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "put": {
        "tags": [],
        "summary": "Invite Member to Board via email",
        "description": "Invite a Member to a Board via their email address.",
        "operationId": "put-boards-id-members",
        "parameters": [
          {
            "name": "email",
            "in": "query",
            "description": "The email address of a user to add as a member of the board",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Valid values: admin, normal, observer. Determines what type of member the user being added should be of the board",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "normal",
                "observer"
              ],
              "default": "normal"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdMembersBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The ID of the board",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        }
      ]
    },
    "/boards/{id}/members/{idMember}": {
      "put": {
        "tags": [],
        "summary": "Add a Member to a Board",
        "description": "Add a member to the board.",
        "operationId": "put-boards-id-members-idmember",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "One of: admin, normal, observer. Determines the type of member this user will be on the board",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "normal",
                "observer"
              ]
            }
          },
          {
            "name": "allowBillableGuest",
            "in": "query",
            "description": "Optional param that allows organization admins to add multi-board guests onto a board",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [],
        "summary": "Remove Member from Board",
        "description": "",
        "operationId": "boardsidmembersidmember",
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The id of the board to update",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        },
        {
          "name": "idMember",
          "in": "path",
          "description": "The id of the member to add to the board",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        }
      ]
    },
    "/boards/{id}/memberships/{idMembership}": {
      "put": {
        "tags": [],
        "summary": "Update Membership of Member on a Board",
        "description": "Update an existing board by id",
        "operationId": "put-boards-id-memberships-idmembership",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "idMembership",
            "in": "path",
            "description": "The id of a membership that should be added to this board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "One of: admin, normal, observer. Determines the type of member that this membership will be to this board",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "admin",
                "normal",
                "observer"
              ]
            }
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "Valid values: all, avatarHash, bio, bioData, confirmed, fullName, idPremOrgsAdmin, initials, memberType, products, status, url, username",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "avatarHash",
                "bio",
                "bioData",
                "confirmed",
                "fullName",
                "idPremOrgsAdmin",
                "initials",
                "memberType",
                "products",
                "status",
                "url",
                "username"
              ],
              "default": "fullName"
            },
            "x-ballerina-name": "memberFields"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/myPrefs/emailPosition": {
      "put": {
        "tags": [],
        "summary": "Update emailPosition Pref on a Board",
        "description": "Update emailPosition Pref on a Board",
        "operationId": "put-boards-id-myprefs-emailposition",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Valid values: bottom, top. Determines the position of the email address",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "bottom",
                "top"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/myPrefs/idEmailList": {
      "put": {
        "tags": [],
        "summary": "Update idEmailList Pref on a Board",
        "description": "Change the default list that email-to-board cards are created in.",
        "operationId": "put-boards-id-myprefs-idemaillist",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "The id of an email list",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/myPrefs/showSidebar": {
      "put": {
        "tags": [],
        "summary": "Update showSidebar Pref on a Board",
        "operationId": "put-boards-id-myPrefs-showsidebar",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Determines whether to show the side bar",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/myPrefs/showSidebarActivity": {
      "put": {
        "tags": [],
        "summary": "Update showSidebarActivity Pref on a Board",
        "operationId": "put-boards-id-myPrefs-showsidebaractivity",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Determines whether to show sidebar activity",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/myPrefs/showSidebarBoardActions": {
      "put": {
        "tags": [],
        "summary": "Update showSidebarBoardActions Pref on a Board",
        "operationId": "put-boards-id-myPrefs-showsidebarboardactions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Determines whether to show the sidebar board actions",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/myPrefs/showSidebarMembers": {
      "put": {
        "tags": [],
        "summary": "Update showSidebarMembers Pref on a Board",
        "operationId": "put-boards-id-myPrefs-showsidebarmembers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "Determines whether to show members of the board in the sidebar",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/": {
      "post": {
        "tags": [],
        "summary": "Create a Board",
        "description": "Create a new board.",
        "operationId": "post-boards",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The new name for the board. 1 to 16384 characters long",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 16384,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "defaultLabels",
            "in": "query",
            "description": "Determines whether to use the default set of labels",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "defaultLists",
            "in": "query",
            "description": "Determines whether to add the default set of lists to a board (To Do, Doing, Done). It is ignored if `idBoardSource` is provided",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "A new description for the board, 0 to 16384 characters long",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 16384,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "idOrganization",
            "in": "query",
            "description": "The id or name of the Workspace the board should belong to",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "idBoardSource",
            "in": "query",
            "description": "The id of a board to copy into the new board",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "keepFromSource",
            "in": "query",
            "description": "To keep cards from the original board pass in the value `cards`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "cards",
                "none"
              ],
              "default": "none"
            }
          },
          {
            "name": "powerUps",
            "in": "query",
            "description": "The Power-Ups that should be enabled on the new board. One of: `all`, `calendar`, `cardAging`, `recap`, `voting`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "calendar",
                "cardAging",
                "recap",
                "voting"
              ]
            }
          },
          {
            "name": "prefs_permissionLevel",
            "in": "query",
            "description": "The permissions level of the board. One of: `org`, `private`, `public`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "org",
                "private",
                "public"
              ],
              "default": "private"
            },
            "x-ballerina-name": "prefsPermissionLevel"
          },
          {
            "name": "prefs_voting",
            "in": "query",
            "description": "Who can vote on this board. One of `disabled`, `members`, `observers`, `org`, `public`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "disabled",
                "members",
                "observers",
                "org",
                "public"
              ],
              "default": "disabled"
            },
            "x-ballerina-name": "prefsVoting"
          },
          {
            "name": "prefs_comments",
            "in": "query",
            "description": "Who can comment on cards on this board. One of: `disabled`, `members`, `observers`, `org`, `public`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "disabled",
                "members",
                "observers",
                "org",
                "public"
              ],
              "default": "members"
            },
            "x-ballerina-name": "prefsComments"
          },
          {
            "name": "prefs_invitations",
            "in": "query",
            "description": "Determines what types of members can invite users to join. One of: `admins`, `members`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "members",
                "admins"
              ],
              "default": "members"
            },
            "x-ballerina-name": "prefsInvitations"
          },
          {
            "name": "prefs_selfJoin",
            "in": "query",
            "description": "Determines whether users can join the boards themselves or whether they have to be invited",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-ballerina-name": "prefsSelfJoin"
          },
          {
            "name": "prefs_cardCovers",
            "in": "query",
            "description": "Determines whether card covers are enabled",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": true
            },
            "x-ballerina-name": "prefsCardCovers"
          },
          {
            "name": "prefs_background",
            "in": "query",
            "description": "The id of a custom background or one of: `blue`, `orange`, `green`, `red`, `purple`, `pink`, `lime`, `sky`, `grey`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "blue",
                "orange",
                "green",
                "red",
                "purple",
                "pink",
                "lime",
                "sky",
                "grey"
              ],
              "default": "blue"
            },
            "x-ballerina-name": "prefsBackground"
          },
          {
            "name": "prefs_cardAging",
            "in": "query",
            "description": "Determines the type of card aging that should take place on the board if card aging is enabled. One of: `pirate`, `regular`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "pirate",
                "regular"
              ],
              "default": "regular"
            },
            "x-ballerina-name": "prefsCardAging"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/calendarKey/generate": {
      "post": {
        "tags": [],
        "summary": "Create a calendarKey for a Board",
        "description": "Create a new board.",
        "operationId": "post-boards-id-calendarkey-generate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/emailKey/generate": {
      "post": {
        "tags": [],
        "summary": "Create a emailKey for a Board",
        "description": "",
        "operationId": "post-boards-id-emailkey-generate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/idTags": {
      "post": {
        "tags": [],
        "summary": "Create a Tag for a Board",
        "operationId": "post-boards-id-idtags",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "value",
            "in": "query",
            "description": "The id of a tag from the organization to which this board belongs",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/markedAsViewed": {
      "post": {
        "tags": [],
        "summary": "Mark Board as viewed",
        "description": "",
        "operationId": "post-boards-id-markedasviewed",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The id of the board to update",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": false
      }
    },
    "/boards/{id}/boardPlugins": {
      "get": {
        "tags": [],
        "summary": "Get Enabled Power-Ups on Board",
        "description": "Get the enabled Power-Ups on a board",
        "operationId": "get-boards-id-boardplugins",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Plugin"
                  }
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [],
        "summary": "Enable a Power-Up on a Board",
        "description": "Enable a Power-Up on a Board",
        "operationId": "post-boards-id-boardplugins",
        "parameters": [
          {
            "name": "idPlugin",
            "in": "query",
            "description": "The ID of the Power-Up to enable",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": true
      },
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "description": "The ID of the Board",
          "required": true,
          "style": "simple",
          "explode": false,
          "schema": {
            "$ref": "#/components/schemas/TrelloID"
          }
        }
      ]
    },
    "/boards/{id}/boardPlugins/{idPlugin}": {
      "delete": {
        "tags": [],
        "summary": "Disable a Power-Up on a Board",
        "description": "Disable a Power-Up on a board",
        "operationId": "delete-boards-id-boardplugins",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "idPlugin",
            "in": "path",
            "description": "The ID of the Power-Up to disable",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        },
        "deprecated": true
      }
    },
    "/boards/{id}/plugins": {
      "get": {
        "tags": [],
        "summary": "Get Power-Ups on a Board",
        "description": "List the Power-Ups on a board",
        "operationId": "get-board-id-plugins",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "The ID of the board",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "One of: `enabled` or `available`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "enum": [
                "enabled",
                "available"
              ],
              "default": "enabled"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Plugin"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/cards": {
      "post": {
        "tags": [],
        "summary": "Create a new Card",
        "description": "Create a new card. Query parameters may also be replaced with a JSON request body instead.",
        "operationId": "post-cards",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "The name for the card",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desc",
            "in": "query",
            "description": "The description for the card",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pos",
            "in": "query",
            "description": "The position of the new card. `top`, `bottom`, or a positive float",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Pos"
            }
          },
          {
            "name": "due",
            "in": "query",
            "description": "A due date for the card",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "start",
            "in": "query",
            "description": "The start date of a card, or `null`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "date",
              "nullable": true
            }
          },
          {
            "name": "dueComplete",
            "in": "query",
            "description": "Whether the status of the card is complete",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "idList",
            "in": "query",
            "description": "The ID of the list the card should be created in",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "idMembers",
            "in": "query",
            "description": "Comma-separated list of member IDs to add to the card",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InlineParameterItemsIdMembers"
              }
            }
          },
          {
            "name": "idLabels",
            "in": "query",
            "description": "Comma-separated list of label IDs to add to the card",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/InlineParameterItemsIdLabels"
              }
            }
          },
          {
            "name": "urlSource",
            "in": "query",
            "description": "A URL starting with `http://` or `https://`. The URL will be attached to the card upon creation",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "url"
            }
          },
          {
            "name": "fileSource",
            "in": "query",
            "description": "",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "format": "binary"
            }
          },
          {
            "name": "mimeType",
            "in": "query",
            "description": "The mimeType of the attachment. Max length 256",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "idCardSource",
            "in": "query",
            "description": "The ID of a card to copy into the new card",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TrelloID"
            }
          },
          {
            "name": "keepFromSource",
            "in": "query",
            "description": "If using `idCardSource` you can specify which properties to copy over. `all` or comma-separated list of: `attachments,checklists,customFields,comments,due,start,labels,members,start,stickers`",
            "required": false,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "attachments",
                "checklists",
                "comments",
                "customFields",
                "due",
                "start",
                "labels",
                "members",
                "start",
                "stickers"
              ],
              "default": "all"
            }
          },
          {
            "name": "address",
            "in": "query",
            "description": "For use with/by the Map View",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "locationName",
            "in": "query",
            "description": "For use with/by the Map View",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "coordinates",
            "in": "query",
            "description": "For use with/by the Map View. Should take the form latitude,longitude",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Card"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/cards/{id}": {
      "get": {
        "tags": [],
        "summary": "Get a Card",
        "description": "Get a card by its ID",
        "operationId": "get-cards-id",
        "parameters": [
          {
            "name": "fields",
            "in": "query",
            "description": "`all` or a comma-separated list of [fields](/cloud/trello/guides/rest-api/object-definitions/). **Defaults**: `badges, checkItemStates, closed, dateLastActivity, desc, descData, due, start, idBoard, idChecklists, idLabels, idList, idMembers, idShort, idAttachmentCover, manualCoverAttachment, labels, name, pos, shortUrl, url`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "actions",
            "in": "query",
            "description": "See the [Actions Nested Resource](/cloud/trello/guides/rest-api/nested-resources/#actions-nested-resource)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "attachments",
            "in": "query",
            "description": "`true`, `false`, or `cover`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/Attachments"
            }
          },
          {
            "name": "attachment_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of attachment [fields](/cloud/trello/guides/rest-api/object-definitions/)",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string",
              "default": "all"
            },
            "x-ballerina-name": "attachmentFields"
          },
          {
            "name": "members",
            "in": "query",
            "description": "Whether to return member objects for members on the card",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "member_fields",
            "in": "query",
            "description": "`all` or a comma-separated list of member [fields](/cloud/trello/guides/rest-api/object-definitions/). **Defaults**: `avatarHash, fullName, initials, username`",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "string"
            },
            "x-ballerina-name": "memberFields"
          },
          {
            "name": "membersVoted",
            "in": "query",
            "description": "Whether to return member objects for members who voted on the card",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "memberVoted_fields",
[...]
